# Spring Boot Backend Ignore
backend/target/
backend/*.log
backend/bin/

# Node Frontend Ignore
frontend/node_modules/
frontend/dist/
frontend/*.log
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Docker pg data
postgres_data/
docker-compose.override.yml
